@model API.Models.App

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>App</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AppName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppSecret)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppSecret)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
